body {
    font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/light-grey-terrazzo.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

nav.navbar .navbar-brand {
    color: #ffffff;
    background-color: #4aaaa5;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

main {
    min-height: calc(100vh - 12rem);
}

main .container {
    background-color: #ffffff;
    border: 1px #dddddd solid;
}

main hr {
    height: 2px;
    background-color: #cccccc;
}

.portfolio p {
    background-color: #4aaaa5;
    color:#ffffff;
    top: 2rem;
}
.portfolio a:hover p, input[type="submit"]:hover {
    background-color: #1f5d5a;
    cursor: pointer;
}

.portfolio a:hover img {
    opacity: 0.8;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 12px 24px;
    border: none;
}